//font import
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

//variables
$pink: #d98192;
$small: 400px;
$medium: 640px;
$large: 1500px;

//media mixins
@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}


body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    background-image: linear-gradient(to right, #9156e1, #ff9768);
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator_box {
    padding: 50px 0;
}

.calculator {
    background: #fff;
    width: 100%;

    @include small {
        width: 240px;
    }

    @include large {
        width: 360px;
    }

    &__result_box {
        overflow: hidden;
        transition: .3s ease-in-out;
        min-height: 90px;

        @include large {
            min-height: 135px;
        }

        padding: 15px 10px 15px 5px;

        @include large {
            padding: 20px;

        }

        background: #212121;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #math_expression {
            color: $pink;
            font-size: 13px;
            transition: .3s ease-in-out;
        }

        #result {
            transition: .3s ease-in-out;
            color: #fff;
            font-size: 20px;

            @include large {
                font-size: 35px;

            }

            font-weight: 400;
        }

        #math_expression,
        #result {
            text-align: right;
        }
    }

    .butt,
    #count,
    #cleaner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;

        height: 60px;

        transition: .3s ease-in-out;
        font-size: 14px;

        @include large {
            font-size: 16px;
        }

        //butt animation
        position: relative;

        &::before {
            transition: .2s ease-in-out;
            content: attr(data-value);
            background: inherit;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 7px 5px #212121;
            border-radius: 5px;
        }

        @keyframes animOnTouch {
            0% {
                opacity: 0;
                transform: scale(1);
                font-weight: 300;
            }

            66% {
                opacity: 1;
                transform: scale(1.1);
                font-weight: 400;
            }

            100% {
                opacity: 0;
                transform: scale(1);
                font-weight: 300;
            }
        }

        &:hover {
            cursor: pointer;

            @media (hover: hover) and (pointer: fine) {
                &::before {
                    opacity: 1;
                    transform: scale(1.1);
                    z-index: 1;
                    font-weight: 400;
                }
            }

            //mobile and touch devices animation
            @media (hover: none) and (pointer: coarse) {
                &::before {
                    opacity: 0;
                    z-index: 1;
                    animation-name: animOnTouch;
                    animation-duration: .3s;
                }

            }
        }
    }

    //backgorunds and gradients 
    #count {
        height: auto;
        background: #e62f89;
        color: #fff;
    }

    #add {
        background: #8547d9;
    }

    #substract {
        background: #894ed9;
    }

    #multi {
        background: #8d52dd;
    }

    #divide {
        background: #9156e1;
    }

    .violet {
        color: #fff;
    }

    .butt {
        background: #fff;
        background-image: linear-gradient(35deg, #fff, #f4f4f4);
    }

    .gray {
        background: #fff;
        background-image: linear-gradient(to right, #f7f7f7, #f1f1f1);
    }
}