@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#9156e1), to(#ff9768));
  background-image: linear-gradient(to right, #9156e1, #ff9768);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator_box {
  padding: 50px 0;
}

.calculator {
  background: #fff;
  width: 100%;
}

@media (min-width: 400px) {
  .calculator {
    width: 240px;
  }
}

@media (min-width: 1500px) {
  .calculator {
    width: 360px;
  }
}

.calculator__result_box {
  overflow: hidden;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  min-height: 90px;
  padding: 15px 10px 15px 5px;
  background: #212121;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1500px) {
  .calculator__result_box {
    min-height: 135px;
  }
}

@media (min-width: 1500px) {
  .calculator__result_box {
    padding: 20px;
  }
}

.calculator__result_box #math_expression {
  color: #d98192;
  font-size: 13px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.calculator__result_box #result {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 1500px) {
  .calculator__result_box #result {
    font-size: 35px;
  }
}

.calculator__result_box #math_expression,
.calculator__result_box #result {
  text-align: right;
}

.calculator .butt,
.calculator #count,
.calculator #cleaner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  height: 60px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 14px;
  position: relative;
}

@media (min-width: 1500px) {
  .calculator .butt,
  .calculator #count,
  .calculator #cleaner {
    font-size: 16px;
  }
}

.calculator .butt::before,
.calculator #count::before,
.calculator #cleaner::before {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  content: attr(data-value);
  background: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 7px 5px #212121;
          box-shadow: 5px 7px 5px #212121;
  border-radius: 5px;
}

@-webkit-keyframes animOnTouch {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-weight: 300;
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    font-weight: 400;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-weight: 300;
  }
}

@keyframes animOnTouch {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-weight: 300;
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    font-weight: 400;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-weight: 300;
  }
}

.calculator .butt:hover,
.calculator #count:hover,
.calculator #cleaner:hover {
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  .calculator .butt:hover::before,
  .calculator #count:hover::before,
  .calculator #cleaner:hover::before {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1;
    font-weight: 400;
  }
}

@media (hover: none) and (pointer: coarse) {
  .calculator .butt:hover::before,
  .calculator #count:hover::before,
  .calculator #cleaner:hover::before {
    opacity: 0;
    z-index: 1;
    -webkit-animation-name: animOnTouch;
            animation-name: animOnTouch;
    -webkit-animation-duration: .3s;
            animation-duration: .3s;
  }
}

.calculator #count {
  height: auto;
  background: #e62f89;
  color: #fff;
}

.calculator #add {
  background: #8547d9;
}

.calculator #substract {
  background: #894ed9;
}

.calculator #multi {
  background: #8d52dd;
}

.calculator #divide {
  background: #9156e1;
}

.calculator .violet {
  color: #fff;
}

.calculator .butt {
  background: #fff;
  background-image: linear-gradient(35deg, #fff, #f4f4f4);
}

.calculator .gray {
  background: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#f7f7f7), to(#f1f1f1));
  background-image: linear-gradient(to right, #f7f7f7, #f1f1f1);
}
/*# sourceMappingURL=style.css.map */